<% @posts.each do |post| %>
  <div>
    <h2><%= link_to post.track_name, post_path(post) %></h2>
    <p>アーティスト: <%= link_to post.artist_name, artist_song_path(post.artist_id) %></p>
    <p>アルバム: <%= link_to post.album_name, album_song_path(post.album_id) %></p>
    <p>コメント: <%= post.contents %></p>
    <% if post.album_image.present? %>
      <%= image_tag post.album_image %>
    <% end %>
    <% if post.preview_url.present? %>
      <audio controls>
        <source src="<%= post.preview_url %>" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    <% end %>
  </div>
<% end %>
