<h1><%= @post.track_name %></h1>
<p>アーティスト: <%= link_to @post.artist_name, artist_song_path(@post.artist_id) %></p>
<p>アルバム: <%= link_to @post.album_name, album_song_path(@post.album_id) %></p>
<% if @post.album_image.present? %>
  <%= image_tag @post.album_image %>
<% end %>
<% if @post.preview_url.present? %>
  <audio controls>
    <source src="<%= @post.preview_url %>" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
<% end %>
<p>コメント:<%= @post.contents %></p>

    <div class="comment-wrapper">
    <p>コメント一覧</p>
        <% @comments.each do |c| %>
            <div>
            <%= c.user.email unless c.user.blank? %>
            <br>
            <%= c.content %>
            </div>
            <br>
        <% end %>
        <% if user_signed_in? %>
            <%= form_with(model: [@post, @comment], local: true) do |f| %>
                <%= f.text_area :content %>
                <%= button_tag type: "submit" do %>
                    <i class="far fa-comments"></i> コメントする
                <% end %>
            <% end %>
        <% end %>
        
    </div>

<%= link_to "編集する", edit_post_path(@post.id) %>
<%= link_to "post一覧に戻る", posts_path %>